/* Estilos para el formulario de login */
.containerLo {
    margin-top: 50px;
    /* Espacio superior */
}

.row.justify-content-centerLo {
    display: flex;
    justify-content: center;
}

.col-md-6Lo {
    margin-bottom: 20px;
    /* Espacio inferior */
}

.formLo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardLo {
    background-color: #2c2c2c;
    /* Color de fondo */
    border: 1px solid #d32f2f;
    /* Borde del card */
    border-radius: 10px;
    /* Bordes redondeados */
    margin-top: 15%;
    margin-bottom: 21%;
}

.card-bodyLo {
    padding: 20px;
    /* Espaciado interno */
}

.card-titleLo {
    color: #ffffff;
    /* Color del título */
    text-align: center;
    /* Centrado del texto */
}

.labelLo {
    color: #ffffff;
    margin-left: 13px;
    margin-right: 5px;
}

.inputLo {
    width: 33%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d32f2f;
    border-radius: 5px;
    background-color: #ffffff;
}

.submitLo {
    background-color: #d32f2f;
    color: #ffffff;
    border: none;
    padding: 10px;
    width: 30%;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1.5rem;
}

.submitLo:hover {
    background-color: #a82828;
    /* Color al pasar el mouse */
}

/*! Config del modal */
.modalLo {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.cardLo {
    background-color: #2c2c2c;
    border: 1px solid #d32f2f;
    border-radius: 10px;
    margin: 15% auto; /* Ajustado para centrar el modal */
    width: 80%; /* Ajustar el ancho */
}

.card-bodyLo {
    padding: 20px;
}

.card-titleLo {
    color: #ffffff;
    text-align: center;
}

.closeLo {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeLo:hover,
.closeLo:focus {
    color: #d32f2f; /* Color al pasar el mouse */
}

.btn-secondaryLo {
    background-color: #d32f2f;
    color: #ffffff;
    border: none;
    padding: 10px;
    width: 30%;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
}

.btnFlx {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.btn-secondaryLo:hover {
    background-color: #a82828; /* Color al pasar el mouse */
}

.LttrLogStyle {
    color: white;
    text-align: center;
}

/*! Style Modal Confirmación */
.modalLo2 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.cardLo2 {
    background-color: #2c2c2c;
    border: 1px solid #d32f2f;
    border-radius: 10px;
    margin: 15% auto; /* Ajustado para centrar el modal */
    width: 80%; /* Ajustar el ancho */
}

.card-bodyLo2 {
    padding: 20px;
}

.card-titleLo2 {
    color: #ffffff;
    text-align: center;
}

.closeLo2 {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeLo2:hover,
.closeLo2:focus {
    color: #d32f2f; /* Color al pasar el mouse */
}

.btn-secondaryLo2 {
    background-color: #d32f2f;
    color: #ffffff;
    border: none;
    padding: 10px;
    width: 30%;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
}

.btnFlx2 {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.btn-secondaryLo2:hover {
    background-color: #a82828; /* Color al pasar el mouse */
}

.LttrLogStyle2 {
    color: white;
    text-align: center;
}

.labelLo2 {
    color: #ffffff;
    margin-left: 13px;
    margin-right: 5px;
}

.inputLo2 {
    width: 33%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d32f2f;
    border-radius: 5px;
    background-color: #ffffff;
}

.formLo2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.submitLo2 {
    background-color: #d32f2f;
    color: #ffffff;
    border: none;
    padding: 10px;
    width: 30%;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1.5rem;
}

.sepInputs {
    display: flex;
    align-items: center;
}