body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #757474;
    background-image: url(../img/wallGBlurred.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* Asegura que cubra toda la pantalla */
    background-attachment: fixed;
    /* Fija la imagen para que no se mueva al hacer scroll */
    background-position: center;
    /* Centra la imagen */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

@font-face {
    font-family: dinasty;
    src: url(../fonts/dienasty.otf);
}

/* 
.button-container01 {
    display: flex;
    flex-direction: row;
}

.options01 */

/*! ------------------------------- BOTONES INICIO */
/* Estilos para los contenedores */

.memin01 {
    margin-bottom: 5rem;
}

.button-container01 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.button-wrapper01 {
    position: relative;
    /* Posiciona el botón de forma relativa para que las opciones sean absolutas respecto a este */
}

/* Ocultar las opciones inicialmente */
.options01 {
    list-style-type: none;
    padding: 0;
    margin-left: 1px;
    /* margin: 0; */
    margin-top: 0px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}



/* Estilos de los botones principales */
.main-button01 {
    padding: 10px 20px;
    font-size: 16px;
    width: 9rem;
    cursor: pointer;
}

/* Estilos de las opciones */
.options01 li {
    margin: 0;
    width: 8.9rem;
}

.hoverButton:hover {
    background-color: #be2c2c;
}

.options01 button {
    padding: 10px;
    width: 100%;
    /* Para que el botón llene todo el espacio disponible */
    cursor: pointer;
    border: none;
    background-color: white;
    /* Asegura el fondo blanco */
    /* Alineación del texto a la izquierda */
}

/* Cuando el contenedor tiene la clase 'active', se muestran las opciones */
.button-wrapper01.active .options01 {
    visibility: visible;
    /* Las opciones ahora son visibles */
    opacity: 1;
    /* Opciones completamente visibles */
}




.tipografia {
    font-family: dinasty;
    color: red;
    font-size: 53px;
    text-shadow: 2px 1px white;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.product-card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-id {
    color: #888888;
    margin-bottom: 10px;
}

.product-description {
    margin-bottom: 10px;
}

.product-price {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-category {
    color: #555555;
    margin-bottom: 20px;
}

.add-to-cart-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.add-to-cart-button:hover {
    background-color: #45a049;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination-link {
    margin: 0 10px;
    color: #007BFF;
    text-decoration: none;
    font-size: 1.2em;
}

.pagination-link:hover {
    text-decoration: underline;
}

.pagination-info {
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
    color: #333333;
}

.productImage {
    width: 50%;
}

.prodList {
    display: flex;
    background-color: #000000c7;
    border-radius: 1rem;
    color: #ffffff;
    margin-bottom: 1rem;
    margin-right: 15%;
    margin-left: 12%;
    /* padding-left: 27px; */
    flex-direction: column;
    align-items: center;
    border: 4px solid #1d08089c;
    border-style: ridge;
    align-content: center;
}

.cartsDetails1 {
    display: flex;
    background-color: #000000c7;
    border-radius: 1rem;
    color: #ffffff;
    margin-bottom: 1rem;
    margin-right: 15%;
    margin-left: 15%;
    padding: 2%;
    flex-direction: column;
    align-items: center;
    border: 4px solid #1d08089c;
    border-style: ridge;
    align-content: center;
}

.botoncito {
    background-color: black;
    padding: 6px;
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.hover:hover {
    background-color: rgba(134, 21, 21, 0.438);
    color: white;
    font-weight: bold;
}

.hover2:hover {
    background-color: rgb(135 0 0);
    color: white;
    font-weight: bold;
}

.textPag {
    cursor: pointer;
    border: 1px solid black;
}

.next-page, .textPag{
    background-color: rgb(135 0 0);
    padding: 6px;
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
    border: 1px solid black;
}

.next-page:hover, .textPag:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(175, 5, 5);
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
}

.categorySte {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.pointer {
    cursor: pointer;
}

.container-guide {
    background-color: #000000e3;
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
}

/* Contenedor para centrar los enlaces */
.pagination-container {
    display: flex;
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 1000;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.textPag {
    margin-top: -17px;
    font-weight: bold;
}

/* Estilos para el footer */
.site-footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    margin-top: 3em;
    margin-bottom: 1em;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    position: relative;
    padding: 5px 0;
}

.footer-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer-links a:hover::after {
    width: 100%;
}

.footer-links a:hover {
    text-decoration: none;
    color: #f0f0f0;
}